
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="display: flex;margin: auto;color: #df495b;">
    <a class="navbar-brand" href="#">
        <img src="assets/icons/placeholder.jpg" style="height: 50px;width: 100px;" loading="lazy" alt="…">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li style="margin: 0px 10px;" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle customColor" href="#" id="citiesDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CITIES
          </a>
          <div class="dropdown-menu" aria-labelledby="citiesDrop">
            <a class="dropdown-item" href="#">Mumbai</a>
            <a class="dropdown-item" href="#">Hyderabad</a>
            <a class="dropdown-item" href="#">Chennai</a>
          </div>
        </li>
        <li style="margin: 0px 10px;" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle customColor" href="#" id="exploreDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              EXPLORE
            </a>
            <div class="dropdown-menu" aria-labelledby="exploreDrop">
                <a class="dropdown-item" href="#">Explore 1</a>
                <a class="dropdown-item" href="#">Explore 2</a>
                <a class="dropdown-item" href="#">Explore 3</a>
            </div>
        </li>
        <li style="margin: 0px 10px;" class="nav-item active">
            <a class="nav-link customColor" href="#">PARTNER WITH US </a>
        </li>
        <li style="margin: 0px 10px;" class="nav-item active">
            <a class="nav-link customColor" href="#">NEED HELP? </a>
        </li>
        <li class="nav-item active" style="background-color: #df495b;color: white !important;border-radius: 5px;margin: 0px 10px;">
            <a class="nav-link" href="#">
                OFFERS
            </a>
        </li>
        <button id="loginModalBtn" data-toggle="modal" data-target="#userLogin" style="border: 1px solid;margin: 0px 10px;" class="btn font-14 hedaer-title customColor">
            <img  src="assets/icons/placeholder.jpg" alt="" width="25" class="usericon_black">
             LOGIN </button>
      </ul>
    </div>
</div>
  </nav>
  <div style="height: 10px;background-color:#df495b;width: 100%;"></div>